.main{
	width: 960px;
	padding: 0;
	margin: 0 auto;
	height: 600px;
	background-color: #999999;
}


.logincon{
	width: 800px;
	margin: 900px;
	opacity: 0.8;
	margin: auto;
}
.logincon div{
	margin: 8px auto;
}
.logincon .form-group input{
	height: 43px;
}

.form-group .col-sm-2{
	font-size: 20px;
}

.footer{
	margin: auto;
}