<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/df.css">
	<link href="../../static/plugins/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="../../static/css/login.css">
	<script type="text/javascript" src="../../static/plugins/jquary/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/plugins/vue/vue.min.js"></script>
	

</head>
<body>
	<div class="common" id="docommon">
		<div class="headsss">
			<div class="h">
				就书城
			</div>
			<div class="til">
				<ul class="til_ul">
					<li><a ushref="welcome.html">首页</a></li>
					<li><a href="">搜索书籍</a></li>
					<li><a href="">购物车</a></li>
					<li><a href="">登录</a></li>
					<li><a href="">关于我们</a> </li>
				</ul>
			</div>
			<hr>
			<div class="search-d">
				<input class="search-input" type="text" v-model = "searchText">
				<button class="btn btn-info" type="submit" @click = "search"> 查询</button>
			</div>

		</div>
		<div class="main" id="fffs" v-clock>
			<div class="logincon">
				<div class="form-horizontal">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label" >登录名：</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputEmail3" placeholder="tel/nickname" v-model="user.username">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">密码：</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password" v-model="user.password">
						</div>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button id="loginbtn" type="button" class="btn btn-default" @click="userlogin"
							>Sign in</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="footer">
			<div>
				<hr>
			</div>
			<address>
				<strong>Twitter, Inc. </strong>
				1355 Market Street, Suite 900 
				San Francisco, CA 94103
				<abbr title="Phone">P:</abbr> (123) 456-7890
			</address>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/userlogin.js"></script>
</body>
</html>